
{% if paginate.pages >0 %}
    
    <nav role="navigation" class="flex text-black font-bold  justify-center my-8" >
        
         <a href="{{ paginate.previous.url }}">{{ paginate.previous.title }}</a>

         <a href="{{ paginate.next.url }}">{{ paginate.next.title }}</a>
    </nav>
{% endif %}